/*STYLES GENERAUX*/
*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin: 0 auto;
}

span{
    color: rgb(75, 0, 145);
}

h2{
    color: rgb(75, 0, 145);
    margin-bottom: 10px;
}

p{
    font-size: 1em;
    line-height: 1.5em;
}

/*BANNER*/
.banner{    
    text-align: center;  
    background-image: url('https://images.unsplash.com/photo-1655635949384-f737c5133dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}

/*CONTAINER*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-top: -75px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding-left: 80px;
}

.profil{
    margin-right: 60px;
}

.presentation{
    margin-bottom: 30px;
}

.presentation p{
    font-weight: bold;}

li{
    margin-bottom: 10px;
}

.formulaire{
    width: 80%;
}

.introform{
    margin-bottom: 10px;
}

.introform p{
    font-weight: bold;
}

label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;

}

textarea{
    color: rgb(187, 187, 187);
}

.button{
    margin-top: 10px;
}

/*FOOTER*/
.footer{    
    margin-top: 30px;
    text-align: center;  
    background-image: url('https://images.unsplash.com/photo-1655635949384-f737c5133dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0MXx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

.footer h3{
    color: rgb(255, 255, 255);
}